.container {
  position: relative;
}

.control {
  display: flex;
  align-items: center;
  min-height: -44px;
  border: 1px solid #444444;
  padding: 6px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  background: #f5f5f5;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  flex: 1;
}
